<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit: {{limit}}
  </div>

  <input type="range" min="1" max="50" value="{{limit}}" class="slider form-control-range"
    (change)="handleSlideChange($any($event.target).value)" />

  <button class="btn btn-info" (click)="generate()">Generate Words</button>

  <div *ngIf="words" class="card card-body">
    <p class="display-3">{{words}}</p>
  </div>


  <button class="btn btn-info" (click)="handleCountryClick()">Generate Country Name</button>

  <div *ngIf="countryList" class="card card-body">
    <p class="display-3">{{countryList}}</p>
  </div>

</div>